Q1

In [ ]:
SELECT count(*) FROM `Facilities` WHERE membercost <> 0

Q2

In [ ]:
SELECT count(*) FROM `Facilities` WHERE membercost > 0

Q3

In [ ]:
SELECT membercost, facid, name, monthlymaintenance FROM `Facilities` WHERE membercost < 0.2*monthlymaintenance

Q4

In [ ]:
SELECT * FROM `Facilities` WHERE facid IN (1,5)

Q5

In [ ]:
SELECT name, monthlymaintenance,
    case 
		when monthlymaintenance > 1000 THEN 'Expensive'
     	ELSE 'Cheap'
		END AS cost

FROM `Facilities`

Q6

In [ ]:
SELECT firstname, surname, joindate

FROM `Members`

HAVING max(joindate)

Q7

In [ ]:
SELECT DISTINCT m.surname AS surname, f.name AS facility

FROM  `Members` m

JOIN  `Bookings` AS b ON m.memid = b.memid

JOIN  `Facilities` AS f ON b.facid = f.facid

WHERE b.facid

IN ( 0, 1 )

ORDER BY surnames

/* Q8: Produce a list of bookings on the day of 2012-09-14 which
will cost the member (or guest) more than $30. Remember that guests have
different costs to members (the listed costs are per half-hour 'slot'), and
the guest user's ID is always 0. Include in your output the name of the
facility, the name of the member formatted as a single column, and the cost.
Order by descending cost, and do not use any subqueries. */

In [ ]:
SELECT
CONCAT(firstname,  ' ', surname) AS member,
name AS facility,
CASE WHEN firstname = 'GUEST' THEN guestcost * slots ELSE membercost * slots END AS cost
FROM Members
INNER JOIN Bookings
ON Members.memid = Bookings.memid
INNER JOIN Facilities
ON Bookings.facid = Facilities.facid
WHERE starttime >= '2012-09-14' AND starttime < '2012-09-15'
AND CASE WHEN firstname = 'GUEST' THEN guestcost * slots ELSE membercost * slots END > 30
ORDER BY cost DESC;

Q9

In [ ]:
SELECT
CONCAT(firstname, ' ', surname) AS member,
name AS facility,
cost
FROM
(SELECT
firstname,
surname,
name,
CASE WHEN firstname = 'GUEST' THEN guestcost * slots ELSE membercost * slots END AS cost,
starttime
FROM Members
INNER JOIN Bookings
ON Members.memid = Bookings.memid
INNER JOIN Facilities
ON Bookings.facid = Facilities.facid) AS inner_table
WHERE starttime >= '2012-09-14' AND starttime < '2012-09-15'
AND cost > 30
ORDER BY cost DESC;

Q10  Produce a list of facilities with a total revenue less than 1000.
The output of facility name and total revenue, sorted by revenue. Remember
that there's a different cost for guests and members! */

In [ ]:
SELECT
name,
SUM(CASE WHEN memid = 0 THEN guestcost * slots ELSE membercost * slots END) AS revenue
FROM Bookings INNER JOIN Facilities
ON Bookings.facid = Facilities.facid
GROUP BY name

Having revenue < 1000

In [ ]:
Q11